@use "../../../styles/_variables/colors";
@use "../../../styles/_variables/sizes";

.card {
  background: colors.$card-bg;
  border-radius: 10px;

  &__img {
    width: 20%;
    height: 20%;
    object-fit: cover;
  }
}