.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
     position: relative;
}

.page, .arrow {
    background: white;
    color: black;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.page:hover:not(.active):not(:disabled),
.arrow:hover:not(:disabled) {
    background: #e2e2e2;
}

.active {
    background: #6b46c1;
    color: white;
}

.dots {
    background: #2d2d2d;
    color: white;
    cursor: default;
}