@use "../../../styles/_variables/colors";
@use "../../../styles/abstracts/mixins";
@use "../../../styles/_variables/sizes";

$biggest-slide-width: 1164px;

.swiper {
  background: colors.$projects_bg-color;

  &__container {
    display: grid;
  // 3 картки в ряд
  gap: 2rem; // проміжок між картками
  padding: 1rem;
     @include mixins.responsive_mobile(sizes.$screen_size-xs + 200px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @include mixins.responsive_to(sizes.$screen_size-xs , sizes.$screen_size-sm) {
      grid-template-columns: repeat(1, 1fr);
    }
    @include mixins.responsive_from(sizes.$screen_size-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    max-width: $biggest-slide-width; //! TODO потом пофиксить этот хардкод (в variables пошарить гдет)
    margin: 0 auto;
  }
}


