@use "../../../styles/_variables/colors";
@use "../../../styles/abstracts/mixins";


.swiper {
  padding: 3rem 0;
  background: colors.$projects_bg-color; //!TODO переделать, что бы не было дублирования бэкграунда
}

.slide {
  display: flex;
  justify-content: center;
}