//!TODO копирую стили из projectsCreate__start, потом переделтаь что бы не было дублированний бэкграунда =(
@use "../../../../styles/_variables/colors";
@use "../../../../styles/abstracts/mixins";
@use "../../../../styles/_variables/sizes";

.projects {
  background: colors.$projects_bg-color;
  position: relative;
   padding-top: 50px;
  padding-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: colors.$projects_gradient;
    filter: blur(20px);
  }

    &__container {
       display: grid;
  gap: 2rem;
  padding: 1rem;
     @include mixins.responsive_mobile(sizes.$screen_size-xs + 200px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @include mixins.responsive_to(sizes.$screen_size-xs , sizes.$screen_size-sm) {
      grid-template-columns: repeat(1, 1fr);
    }
    @include mixins.responsive_from(sizes.$screen_size-md) {
      grid-template-columns: repeat(2, 1fr);
    }
       max-width: 1164px;
    margin: 0 auto;
    }
}

.swiper {
  height: 100vh;
  transition: 1s all ease-in;
}

.swiperSlide {
  display: flex;
  justify-content: center;
}
