@use "../../../../styles/_variables/sizes";
@use "../../../../styles/_variables/mixins";
@use "../../../../styles/_variables/colors";
@use "../../../../styles/_variables/fonts";

.meme {
  &__section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 4rem;
  }

  &__container {
    @include mixins.container();
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &__container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    display: block;
    background: colors.$swiper-background;
    z-index: 0;
    filter: blur(1.25rem);
    top: 15%;
  }

  &__title {
    line-height: 1.5;
    letter-spacing: .1rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: sizes.$h3_font-size * 3;
    font-style: italic;
    @include fonts.montserrat-bold;
  }

  &__swiperContainer {
    position: relative;
    max-width: sizes.$screen_size-lg + 160px;
    margin-bottom: 3rem;
  }
  &__slide {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 1rem;
  }
  &__slide > img {
    margin-bottom: 1.5rem;
    width: 100%;
  }
  &__slide_title {
    line-height: 1.5;
    letter-spacing: .1rem;
    width: 100%;
    background: rgba(255, 255, 255, .1);
    border-radius: sizes.$default_border-radius;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    text-align: center;
    padding: .8rem;
    @include fonts.inter-regular;
  }
  &__uploadBtn {
    padding: .3rem .8rem .3rem .8rem;
    background: colors.$upload_mem-btn;
    border-radius: sizes.$default_border-radius - 30px;
    border: none;
    width: 80%;
    max-width: 400px;
    @include fonts.inter-bold;
    color: colors.$default_white;
    font-size: sizes.$p_font-size * 1.5;
    text-transform: uppercase;
    cursor: pointer;
  }
}

