@use "src/styles/_variables/colors";
@use "src/styles/_variables/sizes";
.adminModContent {
  &__item {
    display: grid;
    padding: 10px;
  }
  &__btnLink{
    font-size: 1rem;
    color: colors.$default_white;
    width: 120px;
    height: 45px;
    padding: 10px;
    background: colors.$adminApproveBtn_bg;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: .3s ease;
  }
  &__btnLink:hover {
    background: colors.$adminApproveBtn_active_bg;
  }
  &__title {
    width: 100%;
    size: 16px;
    color:black;
  }
  &__actions {
    justify-content: center;
    display: flex;
    width: 100%;
  }
}