@use "../../../../styles/_variables/colors";
@use "../../../../styles/_variables/fonts";
@use "../../../../styles/abstracts/mixins";

.adminHeader {
  width: 100%;

  margin-bottom: .5rem;

  &__container {
    @include mixins.container();
    display: grid;
    background: colors.$adminHeader_bg;
    align-items: center;
    justify-items: center;
    padding: .5rem 0;
    &__meme{
      display: grid;
      grid-template-columns:10% 30%30%40%;
      background: colors.$adminHeader_bg;
      align-items: center;
      justify-items: center;
      padding: .5rem 0;
    }
  }

  &__containerDoc{
    display: grid;
    grid-template-columns: 10% 60% 400px;
    background: colors.$adminHeader_bg;
    align-items: center;
    justify-items: center;
    padding: .5rem 0;
  }

  &__title_container {
    display: flex;
    justify-content: space-between;
    @include mixins.container();
    padding-inline: 0!important; //!TODO потом переписать миксин что бы можно было вставлять свой паддинг =(
    margin-bottom: 1rem;

  }
  &__title {
    color: colors.$default_black;
    @include fonts.inter-bold;
  }
  &__item {
    color: colors.$default_white;
    @include fonts.inter-regular;
  }
}