@use "../../../styles/abstracts/mixins";
@use "../../../styles/_variables/sizes";
@use "../../../styles/_variables/colors";
@use "../../../styles/_variables/fonts";

.footer {
  background: colors.$footer_bg;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: row;

  &__container {
    @include mixins.container();
    display: flex;
    justify-content: center;
    width: 80vw;

    @include mixins.responsive_mobile() {
      width: 85vw;
    }
  }

  &__information {
    @include mixins.responsive_mobile() {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__information_socialmedia,
  &__information_contacts {
     display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  &__information_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 220px;
  }

  &__text {
    color: colors.$default_white;
    opacity: .76;
    width: 300px;
  }



  // mobile

  @include mixins.responsive_mobile() {
    &__logo {
      order: 1;
    }
    &__information_socialmedia {
      order: 2;
    }
    &__text {
      @include fonts.inter-extraBold;
    }
  }
}