$default_white: #FFFFFF;
$default_black: #000000;


$header_btn: #153042;
$paragraph_color: #c8c5c5;

$introduce_section_pre-title: #363933;

$auth_btn_color: #1570EF;
$label_color: #344054;
$auth_subtitle_color: #98A2B3;
$auth_input_border_color: #98A2B3;