@use "colors";
@use "fonts";
@use "sizes";

@use "../mixins/layout_mixin";
p, span {
  @extend .lora;
  color: colors.$default_white;

  @include layout_mixin.responsive_mobile() {
    font-size: sizes.$p_font-size;
  }

  @include layout_mixin.responsive_tablet() {
    font-size: sizes.$p_font-size * 1.2;
  }

  @include layout_mixin.responsive_from(sizes.$screen_size-md) {
    font-size: sizes.$p_font-size * 1.3;
  }
}

a, button > *, {
  @extend .montserrat;
  color: colors.$default_white;

  @include layout_mixin.responsive_mobile() {
    font-size: sizes.$a_font-size;
  }
  @include layout_mixin.responsive_tablet() {
    font-size: sizes.$a_font-size * 1.2;
  }
  @include layout_mixin.responsive_from(sizes.$screen_size-md) {
    font-size: sizes.$a_font-size * 1.3;
  }
}


h1, h2, h3, h4, h5, h6 {
  @extend .playfair;
  color: colors.$default_white;
}


h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}
