
//global colors

$default_white: #FFFFFF;
$default_black: #212020;
$dark_purple: #210333;
$default-link-color: #007bff;
$card-bg: #232074;

//header colors
$header_btn: #153042;
$header_bg_color: rgba(7, 7, 7, 0.80);
$header_border_color: rgba(227, 201, 255, 0.50);
$header_inactive_link: #848895;
$header_active_link_color: $default_white;
$header_active_link_border: rgba(186, 156, 255, 0.81);

// main page colors
$main_page_bg: #09002B;
$introduce_section_title-shadow: 0px 0px 17.6px 24px rgba(255, 255, 255, 0.20);
$news_section_slide-background: linear-gradient(180deg, #232074 0%, #250259 100%);
$swiper-background: rgba(154, 64, 251, 0.15);

$paragraph_color: #c8c5c5;

$introduce_section_pre-title: #363933;

$upload_mem-btn: linear-gradient(90deg, #C517F1 -5.28%, #2A33EE 109.58%, #E91ED5 164.37%), #D9D9D9;


$auth_btn_color: #1570EF;
$label_color: #344054;
$auth_subtitle_color: #98A2B3;
$auth_input_border_color: #98A2B3;
$auth_btn_color: #9980D4;


// auth page colors
$grey_primary_color: #B6B6B6;
$grey_secondary_color: #A4A4A4;
$input_background: #261046;
$input_background_darker: #190733;
$auth_background: #160430;
$border_color: #727272;
$terms_color: #9D5CE9;
$loginWith_backgronud: #3B2063;

$adventure_first_gradient: #501794;
$adventure_second_gradient: #AE69FF;

$authBtn_first_gradient: #501794;
$authBtn_second_gradient: #3E70A1;

$footer_bg: rgba(5, 0, 23, 0.97);


//projects page
$projects_bg-color: #09041D;
$spanHighlightColor: #A875FF;
$btn-hover-color: #4B2CFF;
$btn_mobile-bg: #09041D;
$projects-gradient: rgba(154, 64, 251, 0.15);
$project-create-card_bg: linear-gradient(180deg, #232074 0%, #250259 100%);
$project-create-card-title_bg: #857AFF;
$project-create-card-title_color: #B0DCFF;
$project-form-placeholder_color: #929292;
$project-form-btn_color: #5500FF;
$project-card_bg: #232074;
$project-active-card_bg: #1D1C3E;

// admin page

$adminSidebar_bg: #09002B;
$adminSidebar_font-color: #C3C0C0;
$adminHeader_bg: #2A3042;
$adminApproveBtn_bg: #582222;
$adminRejectBtn_bg: #2A3042;
$admin-load-btn-bg: #2A3042;
$admin-delete-btn-bg: #582222;
$adminApproveBtn_active_bg: #008809;
$adminRejectBtn_active_bg: #B20003;
$admin-news-border: 1px dashed #E5E5E5;
$admin-news-label-color: #0EA5E9;
$admin-news-subtitle-color: #A3A3A3;
$admin-news-input-border: #27509E;

//news

$news-card-bg: linear-gradient(180deg, #232074 0%, #250259 100%);