
//global colors

$default_white: #FFFFFF;
$default_black: #000000;

// main page colors
$header_btn: #153042;
$header_bg_color: rgba(7, 7, 7, 0.80);
$header_border_color: rgba(227, 201, 255, 0.50);
$header_inactive_link: #848895;
$header_active_link_color: $default_white;
$header_active_link_border: rgba(186, 156, 255, 0.81);
$paragraph_color: #c8c5c5;

$introduce_section_pre-title: #363933;

$auth_btn_color: #1570EF;
$label_color: #344054;
$auth_subtitle_color: #98A2B3;
$auth_input_border_color: #98A2B3;
$auth_btn_color: #9980D4;


// auth page colors
$grey_primary_color: #B6B6B6;
$grey_secondary_color: #A4A4A4;
$input_background: #261046;
$input_background_darker: #190733;
$auth_background: #160430;
$border_color: #727272;
$terms_color: #9D5CE9;
$loginWith_backgronud: #3B2063;

$adventure_first_gradient: #501794;
$adventure_second_gradient: #AE69FF;

$authBtn_first_gradient: #501794;
$authBtn_second_gradient: #3E70A1;