// Base classes
@mixin montserrat-base {
  font-family: "Montseratt", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@mixin inter-base {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

// General fonts in app

@mixin montserrat-regular {
  @include montserrat-base;
  font-weight: 400;
}

@mixin montserrat-bold {
  @include montserrat-base;
  font-weight: 600;
}

@mixin montserrat-extraBold {
  @include montserrat-base;
  font-weight: 800;
}
@mixin inter-light {
  @include inter-base;
  font-weight: 200;
}

@mixin inter-regular {
  @include inter-base;
  font-weight: 400;
}

@mixin inter-bold {
  @include inter-base;
  font-weight: 600;
}

@mixin inter-extraBold {
  @include inter-base;
  font-weight: 800;
}