@use "../../../styles/_variables/colors";
@use "../../../styles/abstracts/mixins";
@use "../../../styles/_variables/sizes";
.wrapper {
  background: colors.$projects_bg-color;
  padding: 10px;
    &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
      width: 70%;
    padding: 10px;
      @include mixins.responsive_mobile(sizes.$screen_size-sm) {
      display: flex;
        flex-direction: column;
    }
  }
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: all 0.3s ease;
@include mixins.responsive_mobile(sizes.$screen_size-sm) {
     font-size: 20px;
  width: 300px;
  height: 100px;
    }
  &:hover {
    background-color: #4B2CFF;
  }
}

.active {
  background-color: #4B2CFF;
  color: white;
}