@use "../../styles/_variables/sizes";
@use "../../styles/_variables/fonts";
@use "../../styles/_variables/colors";
@use "../../styles/abstracts/mixins";

.introduce {
  height: 100vh;
  background-image: url("../../assets/main-page_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  &__container {
    @include mixins.container();
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__title {
    @include mixins.glass-shadow();
    @include mixins.glass-effect($padding: 1.5rem);
    text-align: center;
    font-size: sizes.$h1_font-size * 2;
  }

  &__subtitle {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 5%;
  }

}