@use "../../../../styles/_variables/sizes";
@use "../../../../styles/_variables/colors";

$borderW: 2;
.authBtn {
  $numOfBlobs: 4;
  max-width: 460px;
  width: 100%;
  font-family: "Poppins", serif;
  letter-spacing: .04em;
  font-size: sizes.$p_font-size * 1.3;
  font-weight: 500;
  color: colors.$default_white;
  background: -moz-linear-gradient(90deg, colors.$authBtn_first_gradient 38%,
          colors.$authBtn_second_gradient 100%);
  background: -webkit-linear-gradient(90deg, colors.$authBtn_first_gradient 38%,
          colors.$authBtn_second_gradient 100%);
  background: linear-gradient(90deg, colors.$authBtn_first_gradient 38%,
          colors.$authBtn_second_gradient 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#501794",endColorstr="#3e70a1",GradientType=1);
  height: 3.5rem;
  border-radius: 1.2rem;
  border: none;
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}
  .authBtn:hover {
    transform: scale(1.05);
  }
