@use "../../../styles/_variables/colors";
@use "../../../styles/_variables/sizes";
@use "../../../styles/mixins/layout_mixin";
@import "../../../styles/_variables/tags";
@import "../../../styles/modules/container.module";


.navbar {
  position: relative;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  &__items {
    @include layout_mixin.responsive_desktop() {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    @include layout_mixin.responsive_mobile(sizes.$screen_size-lg) {
      visibility: hidden;
      position: absolute;
    }
  }
  &__burger {
    @include layout_mixin.responsive_desktop(){
      display: none;
    }
  }
}


