@use "../../../styles/_variables/colors";
@use "../../../styles/abstracts/mixins";
@use "../../../styles/_variables/sizes";

$biggest-slide-width: 1164px;

.swiper {
  background: colors.$projects_bg-color;

  &__container {
    max-width: $biggest-slide-width; //! TODO потом пофиксить этот хардкод (в variables пошарить гдет)
    margin: 0 auto;
  }
}

// Сначала определяем базовые стили для grid-layout
.grid-layout {
  display: grid;
  padding: 2rem;
  gap: 1rem; // используем gap вместо grid-gap для современных браузеров

  // Затем определяем модификаторы для разного количества элементов
  @for $i from 1 through 7 {
    &--#{$i} {
      @include mixins.responsive_grid($i);
    }
  }

  // Стили для grid-item должны быть внутри .grid-layout
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // Специальные стили для первого элемента
  }
}