@use "../../styles/mixins/layout_mixin";

.footer {
  background-image: url("src/assets/footer__background.png");
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  &__logo {
    z-index: 1;
  }
  &__information {
    @include layout_mixin.responsive_mobile() {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    background: rgba(255, 255, 255, .2);
    border-radius: 2rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    transform: translateX(-7%);
    &_socialmedia, &_contacts {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    &_item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__text {
    color: black;
    margin-bottom: 15px;
  }
}

