@use "../../../../styles/_variables/fonts";
@use "../../../../styles/_variables/colors";
@use "../../../../styles/_variables/sizes";

.btn {
  @include fonts.inter-bold;
  font-size: 1.5rem;
  color: colors.$default_white;

  height: 45px;
  padding: 10px;


  border-radius: sizes.$default_border-radius;
  border: none;

  cursor: pointer;
  transition: .3s ease;


  &__approve {
    background: colors.$adminApproveBtn_bg;
  }
  &__add{
    width: 140px;
    background: colors.$adminApproveBtn_bg;
  }

  &__approve:hover {
    background: colors.$adminApproveBtn_active_bg;
  }

  &__reject {
    background: colors.$adminRejectBtn_bg;
  }
  &__reject:hover {
    background: colors.$adminRejectBtn_active_bg;
  }
}