@use "../../styles/_variables/colors";
@use "../../styles/_variables/sizes";
@use "../../styles/_variables/mixins";
@use "../../styles/_variables/fonts";
@import "../../styles/modules/container.module";


.navbar {
  @include mixins.responsive-padding(("left", "right"), .5rem, 1rem);
  background: colors.$header_bg_color;
  border-bottom: 2px solid colors.$header_border_color;

  height: 100%;

  & {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__items {

    margin-left: auto;

    color: colors.$header_inactive_link;
    @include mixins.responsive_desktop() {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      padding-right: 2rem;

      @include fonts.inter-light;
    }
    @include mixins.responsive_mobile(sizes.$screen_size-lg) {
      position: absolute;
      left: 0;
      top: -25vh;
      width: 100vw;
      height: 25vh;

      background: colors.$default_white;
      transition: .3s top;
    }

  }
  &__items_active {
    top: 0;
  }

  &__burger {
    @include mixins.responsive_desktop(){
      display: none;
    }
  }


  &__item {
    padding-bottom: .3rem;
    a {
      color: colors.$header_inactive_link;
    }
  }
  &__item:hover {
    border-radius: 5px;
    border-bottom: 7px solid colors.$header_active_link_border;
    a {
      color: colors.$header_active_link_color;
      @include fonts.inter-bold;
    }
  }

  &__auth_btn {
    flex-shrink: 0;
    height: 50px;

    border: 3px solid colors.$auth_btn_color;
    background: transparent;
    color: colors.$default_white;
  }
}


.navbar__logo {
  content: url("../../assets/header_logo.svg");
}