<section class="introduce__section">
  <app-header_comp/>
  <div class="container introduce__section_text-block">
    <div class="introduce__section_title">
      <p class="introduce__logo">SSD</p>
      <span>Крокуй разом зі  Студентським Самоврядуванням ДУІКТ</span>
    </div>
    <div class="introduce__section_subtitle">
      <p>
        Студентське самоврядування Державного університету інформаційно-комунікаційних
         технологій - активна група, що представляє інтереси студентів,
         організовує події та ініціативи,
         сприяючи розвитку студентської громади та взаємодії з університетською адміністрацією.
      </p>
    </div>
  </div>
</section>
