.introduce {
  &__section {
    background-image: url("../../../../assets/introduce__section_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
}
