@use "../../../../styles/_variables/colors";
@use "../../../../styles/_variables/sizes";
@use "../../../../styles/abstracts/mixins";
.authForm {
  @include mixins.responsive_mobile(sizes.$screen_size-sm) {
    background: linear-gradient(358deg, #240B48 14.85%, rgba(49, 15, 92, 0.00) 47.94%), url("../../../assets/Auth_bg.png") lightgray 50% / cover no-repeat;
  }
  background: colors.$auth_background;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  //? Фиксим некрасивое расположение (ХАРДКОД!!)


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  &__title {
    color: colors.$default_white;
    font-size: sizes.$h1_font-size * 2;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;

  }
  &__label_cover {
    display: flex;
    flex-direction: column;
    label {
      color: colors.$default_white;
      font-family: "Poppins", serif;
      font-weight: bold;
      margin-bottom: .2rem;
      font-size: sizes.$p_font-size * 0.8;
    }
    input {
      height: 3.5rem;
      border-radius: .5rem;
      max-width: 460px;
      outline: none;
      backdrop-filter: blur(7.5px);
      font-size: sizes.$p_font-size;
      padding: .5rem .5rem;
      margin-bottom: .5rem;
      background: colors.$input_background;
      border: colors.$auth_input_border_color;
      color: colors.$grey_secondary_color;


      @include mixins.responsive_mobile(sizes.$screen_size-sm) {
        width: 80vw;
        background: colors.$input_background_darker;
      }
    }
  }
}