@use '../_variables/sizes';

@mixin responsive-font($min-font-size, $max-font-size, $min-screen-size: sizes.$screen_size-xs, $max-screen-size: sizes.$screen_size-lg + 640px) {
  font-size: $min-font-size;

  @media screen and (min-width: $min-screen-size) and (max-width: $max-screen-size) {
    font-size: calc(#{$min-font-size} + (#{$max-font-size} - #{$min-font-size}) * ((100vw - #{$min-screen-size}) / (#{$max-screen-size} - #{$min-screen-size})));
  }

  @media screen and (min-width: $max-screen-size) {
    font-size: $max-font-size;
  }
}
