@use "../_variables/sizes";

@mixin responsive_to($breakpoint_1, $breakpoint_2) {
  @media screen and (min-width: $breakpoint_1) and (max-width: $breakpoint_2) {
    @content;
  }
}

@mixin responsive_from($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin responsive_mobile ($breakpoint:null) {
  @if $breakpoint == null {
    @media screen and (min-width: sizes.$screen_size-xs) and (max-width: sizes.$screen_size-sm - 1px) {
      @content;
    }
  } @else {
    @media screen and (min-width: sizes.$screen_size-xs) and (max-width: $breakpoint) {
      @content;
    }
  }
}

@mixin responsive_tablet ($breakpoint: null) {
  @if $breakpoint == null {
    @media screen and (min-width: sizes.$screen_size-sm) and (max-width: sizes.$screen_size-md - 1px) {
      @content;
    }
  } @else {
    @media screen and (min-width: sizes.$screen_size-sm) and (max-width: $breakpoint - 1px) {
      @content;
    }
  }
}

@mixin responsive_laptop ($breakpoint: null) {
  @if $breakpoint == null {
    @media screen and (min-width: sizes.$screen_size-md) and (max-width: sizes.$screen_size-lg - 1px) {
      @content;
    }
  } @else {
    @media screen and (min-width: sizes.$screen_size-md) and (max-width: $breakpoint - 1px) {
      @content;
    }
  }
}

@mixin responsive_desktop ($breakpoint: null) {
  @if $breakpoint == null {
    @media screen and (min-width: sizes.$screen_size-lg) {
      @content;
    }
  } @else {
    @media screen and (min-width: sizes.$screen_size-lg) and (max-width: $breakpoint - 1px) {
      @content;
    }
  }
}

@mixin responsive-padding($min-padding, $max-padding, $min-screen-size: 320px, $max-screen-size: 1920px) {
  padding: $min-padding;

  @media screen and (min-width: #{$min-screen-size}) and (max-width: #{$max-screen-size}) {
    padding: calc(#{$min-padding} + (#{$max-padding} - #{$min-padding}) * ((100vw - #{$min-screen-size}) / (#{$max-screen-size} - #{$min-screen-size})));
  }

  @media screen and (min-width: #{$max-screen-size}) {
    padding: $max-padding;
  }
}

