@use "../../../../../styles/abstracts/mixins";
@use "../../../../../styles/_variables/sizes";
@use "../../../../../styles/_variables/fonts";
@use "../../../../../styles/_variables/colors";


.introduce {

  &__title {
    width: fit-content;
    @include fonts.inter-extraBold;
    font-style: italic;
    font-size: sizes.$h1_font-size - .1rem;
  }

  &__section {
    @include mixins.flex-center(column, end, end);

    background-image: url("../../../../../assets/main-page_background.png");
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
@media (max-width: 768px) {
           background:
          linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), /* Полупрозрачный черный цвет */
          url("../../../../../assets/main-page_background.png") no-repeat center / cover; /* Изображение */
        }
    @include mixins.responsive_to(sizes.$screen_size-xs, sizes.$screen_size-sm) {
      background-position: left;
    }

    &_title {
      @include mixins.flex-center;
      gap: 1rem;
      background: transparent;
      border: 2px solid rgba(129, 129, 129, 0.30);
      backdrop-filter: blur(8px);
      border-radius: 50px;
      padding: 1rem;
      box-shadow: colors.$introduce_section_title-shadow;
      margin-left: 5%;
      margin-right: 5%;

      h3 {
        width: 100%;
      }
    }

    &_textBlock {
      width: 100%;
      height: 80%;
      padding-bottom: 2rem;
      @include mixins.flex-center(column);
      justify-content: space-between;
      text-align: center;
      position: relative;
    }

    &_textBlock:before {
      content: "";
      background-image: url("../../../../../assets/introduce_section-logo.png");
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      position: absolute;
      @media (max-width: 768px) {
        background-size: 200%;
      }

    }

    &_subtitle {
      font-size: sizes.$p_font-size * 1.5;
      padding-left: 10%;
      padding-right: 10%;
      @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }

      p {
        color: #c0bebe;
        @media (max-width: 768px) {
          padding-left: 5%;
          padding-right: 5%;
          font-size: sizes.$p_font-size * 0.8;
        }
      }

    }
  }
}
