@use "../../styles/_variables/colors";
@use "../../styles/_variables/sizes";
@use "../../styles/mixins/layout_mixin";
@import "../../styles/modules/container.module";


.navbar {
  @include layout_mixin.responsive_padding(("top", "bottom"), 1rem, 3.5rem);

  align-items: center;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  &__nav {
    width: 100vw;
  }
  &__items {
    @include layout_mixin.responsive_desktop() {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 30px;
      padding-right: 2rem;
    }
    @include layout_mixin.responsive_mobile(sizes.$screen_size-lg) {
      position: absolute;
      left: 0;
      top: -25vh;
      width: 100vw;
      height: 25vh;
      background: colors.$default_white;
      transition: .3s top;
    }
  }
  &__items_active {
    top: 0;
  }
  &__burger {
    @include layout_mixin.responsive_desktop(){
      display: none;
    }
  }
}


.navbar:before {
  content: url("../../assets/header_logo.svg");
  position: absolute;
  display: block;
  width: 73px;
  height: 73px;
  left: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}